.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;

  @extend %font-button;

  cursor: pointer;
  transition: all 0.3s;

  border-color: $color-primaryLight;
  background: $color-primaryLight;
  border-radius: 40px;

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:active {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
  }
}