.header {
  background-image: url(../images/background-bike.jpg);
  background-size: cover;
  background-position: 85%;
  background-repeat: no-repeat;

  @include onTablet {
    background-position: center;
  }

  &__content {
    @include top-content;
    justify-content: space-between;

    padding-bottom: 88px;
    box-sizing: border-box;

    @include onTablet {
      padding-bottom: 130px;
    }

    @include onDesktop {
      padding-bottom: 203px;
    }
  }

  &__top {
    @include top-action;
  }

  &__logo {
    display: flex;
  }

  &__image {
    height: $logo-height-small;

    @include onTablet {
      height: $logo-height-large;
    }

    @include onDesktop {
      height: $logo-height-large;
    }
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: $color-primaryLight;

    @include onTablet {
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }
}
