$c-gray: #eee;

$color-primaryDark: #1d1d1d;
$color-primaryLight: #fff;

$logo-height-small: 38px;
$logo-height-large: 56px;


$icon-width-small: 24px;
$icon-width-large: 32px;
$mr-icon-small: $icon-width-small;
$mr-icon-large: $icon-width-large;

$transitionTime: 0.3s;